.root {
    -fx-background-color: FFCCCC;
}

#stop{
    -fx-text-fill: "red";
    -fx-background-color: "pink";
    -fx-font-size: 15;
}

#RozpocznijPomodoro{
    -fx-text-fill: "red";
    -fx-background-color: "pink";
    -fx-font-size: 15;
}
#DodajZadanie{
    -fx-text-fill: "red";
    -fx-background-color: "pink";
    -fx-font-size: 15;
}