.root {
    -fx-background-color: FFCCCC;
}

.check-box .box {
    .check-box .box {
        -fx-background-color: pink;
        -fx-border-color: #990000;
        -fx-border-width: 2px;
        -fx-min-width: 12px;
        -fx-min-height: 12px;
        -fx-pref-width: 12px;
        -fx-pref-height: 12px;
    }
}

#task1, #task2, #task3, #task4, #task5, #task6 {
    -fx-font-size: 20;
    -fx-text-fill: #990000;
    -fx-font-style: italic;

}


#stop{
    -fx-text-fill: "red";
    -fx-background-color: "pink";
    -fx-border-color: "990000";
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-font-size: 15;
    -fx-border-radius: 5px;
}

#RozpocznijPomodoro, #taskName{
    -fx-text-fill: "red";
    -fx-background-color: "pink";
    -fx-border-color: "990000";
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-font-size: 15;
    -fx-border-radius: 5px;
}
#zadanie {
    -fx-text-fill: "red";
    -fx-background-color: "pink";
    -fx-border-color: "990000";
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-font-size: 15;
    -fx-border-radius: 5px;
}
#resume{
    -fx-text-fill: "red";
    -fx-background-color: "pink";
    -fx-border-color: "990000";
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-font-size: 15;
    -fx-border-radius: 5px;
}

